.challenges-list {
  @extend .col-lg-8;
  .new-submission-link {
    display: inline-block;
  }

  .submission-count {
    display: inline-block;
  }
}

.challenge-description {
  margin-bottom: 40px;
}
