%h1.page-header About RubyGolf

.lead
  I built RubyGolf for my Computer Science Capstone project
  at California State University, Chico. Find me on GitHub at
  = link_to 'github.com/mwiley.', 'https://github.com/mwiley', target: '_blank'

.lead
  Thank you to
  = link_to 'Project Euler', 'https://projecteuler.net', target: '_blank'
  for their Creative Commons licenced collection of quality programming challenges.
