<h1>New Submission</h1>
<p>
<strong>Challenge:</strong>
<%= @challenge.title %>
</p>
<p>
<strong>Description:</strong>
<%= @challenge.descripton %>
</p>

<%= render 'form', challenge: @challenge, submission: @submission %>
