%h2 Challenges
.challenges-list
  - @challenges.each do |challenge|
    .challenge
      %h4.new-submission-link= link_to challenge.title, challenge
      %h5.submission-count= pluralize challenge.submissions.size, 'submission'
      %p= simple_format challenge.description
  = paginate @challenges
