// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.challenges-list {
  @extend .col-sm-8;
  .new-submission-link {
    display: inline-block;
  }

  .submission-count {
    display: inline-block;
  }
}

.challenge-description {
  margin-bottom: 40px;
}
